* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    

    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
    

    color: #757575;
}

a {
    text-decoration: none;
    color: #757575;
}

ul {
    list-style-type: none;
}

.title {
    margin-bottom: 20px;
}

.menu {
    padding-left: 250px;
    
   
    
}

.menu-item {
    width: 200px;
    position: relative;
    background-color: white;
    width: 200px;
    
}

.menu-item p {
    padding-left: 8px;
    padding-right: 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item p .icon {
    display: none;
}

.menu-item:hover > p,
.menu-item:hover > p a {
    color: chocolate;
}

.menu-item:hover > p .icon,
.menu-item:hover > p .icon {
    display: inline-block;
    color: chocolate;
}

.sub-menu {
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: white;
    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
}
.sub-menu_2 {
    height: 189px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: white;
    display: none;
   
}
 .sub-menu:hover .sub-menu_2 {
    display: block;}
.HD2{
    background-color: rgb(245, 237, 237);
}
.HD1{
    background-color: rgb(148, 0, 172);
}
.HD1 img {
    padding-left: 250px;
}
.HD2 img {
    padding-left: 250px;
    width: 500px;
    height: 80px;

}
.HD3 {background-color: rgb(206, 72, 107);
    
}

