.thanhtoan-item{
    margin-top: 55px;
}
.thanhtoan-product {
  width: 746px;
  height: 390px;
}
.thanhtoan-product-item{
    width: 716px;
    height: 32px;
    border-bottom: 1px solid #000000;
    
   
}
.thanhtoan-product-item1 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 135px;
  margin-right: 200px;
}
.thanhtoan-product-item2 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-right: 40px;
}

