#header {
  width: 1920px;
  height: 1095px;
  background-image: url(../image/anh1.png);
  margin: 0 100px;
  margin-bottom: 200px;
}
.container-header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}
.menu ul {
  display: flex;
  margin-right: 0px;
  padding-top: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
}
.menu ul li {
  text-transform: uppercase;
  margin-left: 43px;
}
.logo {
  display: flex;
  position: relative;
}
.logo img {
  max-width: 100%;
  position: absolute;
  padding-left: 50px;
  padding-top: 38px;
}
.logo span {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  padding-left: 95px;
  padding-top: 48px;
}

.logo2 {
  display: flex;
  margin-right: 48px;
}
.logo2 img {
  margin-left: 30px;
}
.header-content {
  width: 900px;
  height: 340px;
  margin-left: 250px;
  margin-top: 222px;
  position: relative;
}
.header-content h6 {
  font-size: 24px;
  color: #ffffff;
}
.header-content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  /* or 115% */
  width: 600px;

  color: #ffffff;
}
.header-content h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
  position: relative;
  left: 50px;
  bottom: 5px;
}
.header-content img {
  position: absolute;
  padding-left: 0px;
  width: 40px;
}
.header-content img:last-child {
  position: absolute;
  top: 150px;
  left: 1600px;
  width: 20px;
  height: 92px;
}

.f-grid {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  height: 120px;
  flex-flow: row wrap;
  margin-top: 260px;
  margin-left: 200px;
}
/* border-right: 20px solid black; */

.f-grid-col {
  flex: 1 0;
  background-color: #ffffff;
  position: relative;
  border-right: 2px solid black;
}

.f-grid-col:first-child p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;

  padding-top: 40px;
  text-align: center;

  color: #3e4c5b;
}
.f-grid-col:nth-child(2) p:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  /* identical to box height, or 221% */
  margin-top: 20px;
  text-align: center;

  color: #9aa8b6;
}
.f-grid-col:nth-child(2) img{
    position: absolute;
    width: 14px;
    height: 10px;
    left: 300px;
    top:30px;
}
.f-grid-col:nth-child(2) p:nth-child(3) {
    position: absolute;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  /* identical to box height, or 141% */
  left: 230px;
  text-align: center;

  color: #3e4c5b;
}
.f-grid-col:nth-child(3) img{
    position: absolute;
    width: 14px;
    height: 10px;
    left: 140px;
    top:30px;
}
.f-grid-col button {
  background: #23cf5f;
  border-radius: 4px;
  position: absolute;
  left: 280px;
  bottom:10px;
  width: 200px;
  height: 100px;
}

.f-grid-col:nth-child(3) p:nth-child(1) {
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  padding-left: 100px;
padding-top: 20px;
  color: #9aa8b6;
  
  
}
.f-grid-col:nth-child(3) p:nth-child(3){
    font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 31px;

padding-left: 70px;

color: #3E4C5B;

}
.icon{
    position: absolute;
    left: 150px;
    top:900px;
}