* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(235, 217, 205);
  
}
.class-time {
  
  margin-top: 10px;
  text-align: center;
  color: #fff;
}
.class-year {
  background-color: #ef5321;
  width: 430px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 5px;
}
.class-datetime {
  background-color: #fe6d3f;
  width: 430px;
  height: 85px;
  border-bottom-left-radius: 5px;
}
.class-date,
.class-month {
  display: flex;
  justify-content: center;
}
.class-date {
  font-size: 30px;
  padding-top: 10px;
}
.class-month {
  font-size: 12px;
}
.class-info {
  font-size: 18px;
  color: #464646;
  
  background-color: #f4f7fa;
  width: 430px;
  height: 200px;
  padding-top: 20px;
  padding-left: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
a {
  text-decoration: none;
}
.class-title {
  font-weight: bold;
}
.timetable-item3{
    border-bottom:dashed blue;
    margin-right: 20px;
    padding-bottom: 10px;
}
.header1{
    background-color: #f4f7fa;
    width: 430px;
    margin-left: 50px;
    border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
