* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
header {
  background-color: #c00a2d;
  height: 5rem;
  color: #fff;
}
header a {
  color: #fff;
}
.header-inner {
  justify-content: space-between;
  top: 0rem;
  height: 5rem;
}
.logo {
  padding-top: 0.3rem;
}
.nav-list {
  display: flex;
}
.nav-list li {
  margin: 1.6rem;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.login {
  display: flex;
  align-items: center;
}
.cart {
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
}
.cart-quantity {
  position: absolute;
  top: -8px;
  right: -6px;
  font-size: 0.75rem;

  font-weight: 700;
  background: #fff;
  padding: 1px 4px;
  border-radius: 28%;
color: #000;
  transition: linear 0.5s;
  /* display: none; */
  
}
.banner img {
  width: 100%;

  height: 50rem;
}
.banner {
  padding-bottom: 5rem;
}
/* product-highlight */
.h2-heading {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.625rem;
  font-family: "Inter";
  color: #000000;
  margin: 0px;
  padding-bottom: 1rem;
}
.card-text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 0.3rem;
  
  text-align: center;
  
}
.card-body {
  display: flex;
  flex-direction: column;
  padding-top: 0.625rem;
  padding-bottom: 0.3rem;
 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
 
}

@media (min-width: 576px) {
  .card-body {
    height: 6.8rem;
  }
}
@media (min-width: 1200px) {
  .card-body {
    height: 6.8rem;
  }
}
@media (min-width: 1400px) {
  .card-body {
    height: 5.8rem;
  }
}

.price249 {
 
  height: 1.2rem;
  
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  
  
  color: #c00a27;
  bottom: 5px;
  overflow: hidden;
  margin-right: 0px;
  /* vertical-align: middle; */
  /* left: 50%;
  top:50%;
  transform: translateX(-50%);
  transform: translateY(-50%); */
}
.VND{
 margin-left: 5px;
}
.row-card {
  margin-top: 2.5rem;
}

.read-more {
  width: 13.5rem;
  height: 2.7rem;
  background-color: #797979;
  border-radius: 9.4rem;
  text-align: center;
  margin-top: 1.75rem;
}
.read-more p {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  margin-bottom: 0rem;
}
.btn-center {
  text-align: center;
  margin-bottom: 4.5rem;
}
.read-more:hover {
  background-color: #c00a2d;
  transition: 0.1s;
}
.card-item{
  cursor: pointer;
}
.card-item:hover img{
  opacity: 0.5;

}
/* thuc don */
.card-menu {
  display: flex;
  align-items: center;

  position: relative;
  justify-content: center;
}

.card-menu-text {
  position: absolute;
}
.card-img-menu {
  margin: 0rem;
  opacity: 0.3;
  padding-left: 0rem;
  /* height: 255px; */
}
.line-black img {
  height: 0.2rem;
  width: 4rem;
  margin-bottom: 0.5rem;
}

.card-menu-text h5 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #000000;
  margin-bottom: 0.5rem;
}
.card-menu-text a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.card-menu {
  margin-top: 2.5rem;
}

.card-menu-text-center {
  text-align: center;
}
.btn-all-menu {
  width: 15.625rem;
  height: 3.125rem;
  border-radius: 95rem;
  background-color: #797979;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  text-align: center;
  margin-top: 2.5rem;
}
.card-menu:hover img {
  opacity: 1;
  transform: scale(1.1);
}
.card-menu:hover .card-menu-text h5 {
  color: #fff;
}
.card-menu:hover .card-menu-text a {
  color: #fff;
}
.card-menu:hover .card-menu-text img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
.all-menu {
  background: #797979;
  border-radius: 95rem;
  width: 15.6rem;
  height: 3.1rem;
  text-align: center;
}

.btn-all-menu:hover {
  background-color: #c00a2d;
  transition: 0.1s;
}
.container-fluid {
  padding: 0px;
}
/* banner2 */
.register {
  height: 10rem;
  width: 100%;
  background: url(../images/banner2.png) no-repeat center;
  background-size: cover;
  padding: 0 3rem;
  margin-bottom: 5rem;
}

.register .btn {
  margin: 0 1rem 0;
}

.register .content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}

.register input {
  font-size: 1rem;
  padding: 7px 16px;
  border-radius: 2px;
  color: var(--pri-4-color);
  border: none;
  outline: none;
  min-width: 200px;
}
.content .btn {
  background-color: #797979;
  border-radius: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.content .btn:hover {
  background-color: #c00a2d;
}
@media (max-width: 576px) {
  .register form {
    flex-direction: column;
  }

  .register h2 {
    font-size: 16px;
  }

  .register form input {
    margin-bottom: 16px;
  }

  .product-filter .btn {
    min-width: 86px;
  }
}
/* news */
.title-news {
  margin-bottom: 2.5rem;
}
.banner-news {
  margin-bottom: 1.25rem;
}

.btn-news {
  background: #797979;
  border-radius: 1.25rem;
  width: 8.75rem;
  height: 2rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  text-align: center;
}
.btn-news-center {
  margin-bottom: 2.5rem;
}
.btn-news-all {
  width: 15.625rem;
  height: 3.125rem;
  background: #797979;
  border-radius: 95rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  text-align: center;
}
.btn-news-all-center {
  text-align: center;
}
.btn-news-all:hover {
  background: #c00a2d;
}
.news {
  margin-bottom: 5rem;
}
/* bussiness */
.title-business {
  margin-bottom: 2.5rem;
}
.hotpot {
  display: flex;
  width: 6.875rem;
  height: 3.75rem;
  background-color: #b9b9b9;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  justify-content: center;
  align-items: center;

  color: #000000;
}
.text-hotpot {
  margin-bottom: 0px;
}
.item-bussiness-center {
  text-align: center;
}
.item-bussiness {
  display: flex;
  text-align: center;
  margin-bottom: 1.875rem;
  overflow: hidden;
}
.bussiness-hotpot {
  display: flex;
  justify-content: flex-start;
  width: 55rem;
  height: 3.75rem;
  background-color: #b9b9b9;
  margin-left: 5.375rem;
}
.item-bussiness img {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.business {
  margin-bottom: 5rem;
}
@media (max-width: 1200px) {
  .business {
    display: none;
  }
}
/* quality */
.quality {
  background-color: rgba(185, 185, 185, 0.4);
  /* height: 18rem; */
}

.title-quality {
  text-align: center;
  width: 16.25rem;
  margin-top: 1.875rem;
  margin-left: 2.2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.title-quality img {
  margin-bottom: 1.25rem;
}
.title-quality h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #c00a27;
}
.title-quality p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0rem;
  color: #000000;
}
/* footer */
.footer {
  background-color: black;
  padding: 32px 16px 0px;
}

.footer .copy-right,
.footer .item a,
.footer .item {
  color: white;
}

.footer .item a:hover {
  color: #c00a2d;
}

.footer .logo-image {
  height: 10rem;
  width: 10rem;

  background: url(../images/logo.png);
  background-size: cover;
  margin: 0 auto;
}

.footer-icon {
  font-size: 2.5rem;

  margin-right: 24px;
}

p.footer-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 22px;
}

.footer .copy-right {
  margin-top: 5rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

.footer-link {
  font-size: 1rem;
}
.menu-icon {
  display: none;
  cursor: pointer;
}
@media (max-width:1200px){
  .card-item{
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  
  .menu-icon {
    display: inline-block;
    margin-left: 24px;
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }
  .login {
    margin-right: 52px;
  }
  .cart img{
    width: 40px;
    height: 40px;
  }
  .user-icon img{
    width: 40px;
    height: 40px;
  }

  .header-inner {
    position: relative;
  }
  .logo {
    margin-left: 114px;
    width: 65px;
    height: 65px;
    margin-right: 84px;
  }

  .nav-list {background-color: #a9001b;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
   flex-direction: column;
   padding: 0px;
   padding-left: 24px;
   display: none;
    
  }
  .nav-list.show{
    display: flex;
  }
 
  .nav-list li {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #ffffff;
   
    margin: 0px ;
    padding-bottom: 10px;
    padding-top: 10px;
    
  }
}

/* popup */
.product-popup {
  width: 500px;
  
  /* height: 800px; */
  position: fixed;
  z-index: 15;

  top: 50%;
  left: 50%;
  background-color: #eee;
  transform: translate(-50%, -50%);

  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: none;
  

  animation: popupShow ease 0.5s;
  
}


.product-popup .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;

  font-size: 20px;
}

.product-popup .btn-close:focus {
  box-shadow: none;
}

.popup-picksize,
.popup-note,
.popup-item {
  padding: 16px 0;
  border-bottom: 1px solid rgba(104, 44, 14, 0.3);
  justify-content: center;
}



.popup-name {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
}

.popup-price-2 {
  display: flex;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  color: #B91D1D;
  justify-content: center;
}
.popup-price-2 p{
  margin-left: 5px;
}

.popup-image img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  display: none;

}

.popup-title {
  font-weight: 500;
  font-size: 16px;
}

.popup-title span {
  font-weight: 300;
  font-size: 12px;
}

.popup-input {
  font-weight: 400;
  font-size: 14px;
  padding: 4px 8px;
  outline: none;

  border-radius: 4px;
  border: 1px solid var(--pri-4-color);
  background: #eee;
}
.cart-item-button{
  margin-top: 12px;
}
.popup-bottom .cart-item-button i {
  font-size: 36px;
  cursor: pointer;
}

.popup-bottom .cart-item-quantity {
  font-size: 32px;
  margin: 0 12px;
}

.popup-bottom .btnadd {
  margin-top: 16px;
  background-color: #B91D1D;
  color: white;
  height: 40px;
  width: 300px;
}

.form-check label {
  cursor: pointer;
}


/* overlay */
.overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  
width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  overflow: hidden;
}
/* //card-site */
.cart-side {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
width: 380px;
  max-width: 100%;
  padding: 0 20px;
  z-index: 15;
  transform: translateX(100%);

  background-color: #fff;
  transition: ease 0.5s;
  opacity: 0;
}

.cart-side-empty {
  text-align: center;
  padding: 16px 64px;
  font-size: 24px;
}

.cart-side.open {
  transform: translateX(0);
  opacity: 1;
}

.cart-side .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 19px 30px;
  font-size: 16px;


}

.cart-side .btn-close:focus {
  box-shadow: none;
}

.cart-side .title {
  font-size: 16px;
  
  text-transform: uppercase;
  padding: 16px 0;
  border-bottom: 1px solid rgba(104, 44, 14, 0.3);
  font-weight: 700;
}

.cart-side .content {
  
 
  min-width: 320px;
}
.cart-item-image {
  width: 60px;
  height: 64px;
}
.cart-item {
  padding: 14px 0;
}
.cart-item-sub-price {
  font-weight: 500;
  font-size: 16px;
  margin: 0 8px;
}

.cart-item-sub-price span {
  min-width: 68px;
  display: inline-block;
  text-align: right;
}
.cart-item-info {
  padding-left: 8px;
}

.cart-item-info .name {
  white-space: nowrap;
  font-size: 16px;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;

  
  font-weight: 600;
  
}

.cart-item-info .size {
  
  font-size: 14px;
  opacity: 1;
}

.cart-item-info .size span {
  font-size: 16px;
  font-weight: 500;
  margin: 0 4px;
}

.cart-item-info .size .edit i {
  font-size: 16px;
  opacity: 0.7;
  color: var(--pri-4-color);
  margin-left: 6px;
  cursor: pointer;
}

.cart-item-info .note {
  font-size: 13px;
  font-weight: 300;
  color: var(--primary-color);
  width: 140px;
}

.cart-item-button i {
  font-size: 24px;
  margin: 0 8px;
  color: var(--pri-3-color);
  cursor: pointer;
  text-shadow: 0px 2px 4px rgba(104, 44, 14, 0.3);
}

.cart-item-quantity {
  font-size: 18px;
  width: 12px;
  text-align: center;
  color: var(--pri-4-color);
}

.delete-product {
  color: var(--pri-4-color);
  font-size: 16px;
  opacity: 0.7;
  margin-left: 8px;

  
}
.fa-trash-can{
  cursor: pointer;
}
.cart-side-btn .btn {
  font-size: 1rem;
  margin-top:16px;
  background-color: #c00a2d;
  color: white;
}

.cart-side .sub-total {
  border-top: 1px solid rgba(104, 44, 14, 0.3);
  border-bottom: 1px solid rgba(104, 44, 14, 0.3);
  padding: 24px 0;
}

.cart-side .sub-total {
  font-size: 18px;
  font-weight: 600;
}

.cart-side .sub-total span {
  font-weight: 600;
  font-size: 20px;
  margin-left: 140px;
  margin-right: 5px;
}
.content a {
  margin-top: 16px;
}